	[draggable] {
	  -moz-user-select: none;
	  -webkit-user-select: none;
	  user-select: none;
	}

	.container {
		border: 2px solid #F9F9F9;
		padding-top:5px;
		min-height: 100%;
		height: auto !important;
		height: 100%;
   		padding-bottom:20px;
	}

	.table-striped tbody tr td.marked {
		background-color: #AACCAA;
		cursor: pointer;
	}
	textarea {
		font-family: monospace;
		tab-size:4;
		-moz-tab-size:4;
	}

	div.query-spo {
		/*border: 2px solid ;*/
	}

	select {
		/*text-align:center;*/
		width:200px;
		margin:0px;
	}

	#action-value {
		width:100px;
	}

	.box {
		background-image:url(../img/arrow_in.png);
		background-repeat:no-repeat;
		background-position: 5px 6px;
/*
		border: 1px solid gray;
		padding:25px 0px 25px 0px;
*/
		width: 230px;
		display: inline-block;
		margin-right: 5px;
		text-align:right;
	}

	.query-spo {
		padding-bottom:8px;
	}

	img.dnd {
		margin-right:5px;
	}

	.over {
		border: 1px dashed #000;
	}

	
	#rules {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		cursor:default;
	}

	#rules span {
		padding:3px;
	}

	#rules span.highlight {
		padding: 4px;
		border: 1px solid red;
		background-color: yellow;
	}
